.Home-head
{
    width: 11rem;
    height: 54px;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 4px solid rgba(255, 166, 0, 0.708) ;
}
.Home-toppost{
    display: flex;
    width: 101%;
    height: 20%;
    margin-bottom: 12px;
    padding: 10px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to left top, #7587a2, #8d96ab, #a3a6b5, #b6b6be, #c8c8c8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Home-topimg{
    width: 30%;
    height: 100%;
}
.Home-top-text{
    margin-left: 10px;
}
.Home-tophead{
    height: 75px;
    padding-top: 0.5rem;
    font-size: 90%;
    font-weight: bold;
}

/* mobile */
@media only screen and (max-width: 768px)
{
    .Home-head
    {
        width: 35%;
        height: 7%;
        font-size: 180%;
        margin: 2rem 0 1rem 0.5rem;
        border-bottom: 3px solid rgba(255, 166, 0, 0.708) ;
    }
    .Home-toppost{
        height: 7.3rem;
        width: 95vw;
        padding: 9px 6px;
        border-radius: 10px;
    }
    .Home-topimg{
        width: 8rem;
        height: 6.2rem;  
    }
    .Home-top-text{
        margin-left: 10px;
    }
    .Home-tophead{
        font-size: 13px;
        height: 5rem;
        padding-top: 7px;
    }
    .Home-top-text span{
        font-size: 13px;
    }
}

/* small mobile 280 max */

@media only screen and (max-width: 280px)
{
    .Home-head
    {
        width: 36%;
        height: 7%;
        font-size: 148%;
        margin: -3rem 0 1rem 0.5rem;
        border-bottom: 3px solid rgba(255, 166, 0, 0.708) ;
    }
    .Home-toppost{
        height: 7rem;
        width: 95vw;
        padding: 9px 6px;
        border-radius: 10px;
    }
    .Home-topimg{
        width: 40%;
        height: 100%;  
    }
    .Home-top-text{
        margin-left: 10px;
    }
    .Home-tophead{
        font-size: 75%;
        height: 4.8rem;
        padding-top: 7px;
    }
    .Home-top-text span{
        font-size: 60%;
    }
}

/* ipad */ 
@media only screen and (orientation:portrait) and (min-width: 768px)
{
    .Home-head
    {
        width: 35%;
        height: 7%;
        font-size: 180%;
        margin: 0;
        border-bottom: 3px solid rgba(255, 166, 0, 0.708) ;
    }
    .Home-toppost{
        height: 19%;
        width: 100%;
        padding: 3% 3%;
        border-radius: 10px;
    }
    .Home-topimg{
        width: 40%;
        height: 100%;  
    }
    .Home-top-text{
        margin-left: 10px;
    }
    .Home-tophead{
        font-size: 85%;
        height: 4.2rem;
        padding-top: 7px;
    }
    .Home-top-text span{
        font-size: 70%;
    }
}