.Home-head
{
    width: 11rem;
    height: 49px;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgba(255, 166, 0, 0.708) ;
}
.Home-toppost{
    display: flex;
    width: 27rem;
    margin-bottom: 12px;
    padding: 10px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to left top, #7587a2, #8d96ab, #a3a6b5, #b6b6be, #c8c8c8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Home-topimg{
    width: 7rem;
    height: 6rem;
}
.Home-top-text{
    margin-left: 10px;
}
.Home-tophead{
    height: 70px;
    padding-top: 0.5rem;
    font-weight: bold;
}

/* mobile */
@media only screen and (max-width: 480px)
{
    .Home-head
    {
        width: 7.7rem;
        height: 2.5rem;
        font-size: 30px;
        margin-bottom: 18px;
        border-bottom: 3px solid rgba(255, 166, 0, 0.708) ;
    }
    .Home-toppost{
        height: 7.3rem;
        width: 95vw;
        padding: 9px 6px;
        border-radius: 10px;
    }
    .Home-topimg{
        width: 8rem;
        height: 6.2rem;  
    }
    .Home-top-text{
        margin-left: 10px;
    }
    .Home-tophead{
        font-size: 13px;
        height: 5rem;
        padding-top: 7px;
    }
    .Home-top-text span{
        font-size: 13px;
    }
}
