*
{
    margin: 0;
    padding: 0;
}
.newpage-navbar{
    display: flex;
    border-bottom: 7px solid rgb(222, 222, 222);
    background-image: linear-gradient(to left bottom, #e9e9e9, #e4e4e9, #dfe0e9, #d9dbe9, #d2d7e9, #cacfe1, #c1c7d8, #b9bfd0, #aeb1be, #a2a3ac, #96969a, #898989);
    padding: 0.5% 3%;
    justify-content: space-between;
    position: sticky;
    height: 6rem;
    top: 0;
    z-index: 2;
}
.logo{
    width: 120px;
    text-align: center;
    cursor: pointer;
}
.logo p
{
    transform: rotate(270deg);
    font-size: xx-large;
    position: absolute;
    top: 28px;
}
.logo h1
{
    position: relative;
    left: 36px;
    font-size: 60px;
}
.btn{
    border: 3px solid #03A87C;
    padding: 0.7% 1.5% 2.5% 1.5%;
    height: 2rem;
    margin-top: 0.6%;
    cursor: pointer;
}
.btn p
{
    font-size: x-large;
    font-weight: bold;
    color: #03A87C;
}

/* page content */

.newpage-parent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.newpage-child{
    width: 677px;
    padding: 30px;
}
.newpage-header
{
    font-size: 15px;
    padding-bottom: 28px;
}
.userinfo
{
    display: flex;
    gap: 15px;
    padding-bottom: 22px;
}
.user-logo
{
    height: 103px;
    width: 103px;
}
.user-name
{
    position: relative;
    top: 38px;
    line-height: 30px;
}
.user-name small
{
    color: rgb(168, 168, 168);
}
.page-img
{
    width:100%;
    padding-bottom: 28px;
}
.page-desc
{
    line-height: 35px;
    font-size: 23px;
}
.page-sl
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 350px;
    left: 150px;
}
.page-sl img
{
    height: 40px;
}

.more-cont
{
    background-color: rgb(227, 227, 227);
    width: 100%;
    padding: 50px 160px 30px 160px;
}
.more-cont h2
{
    border-bottom: 3px solid rgb(230, 230, 230);
    padding-bottom: 30px;
}
.high
{
    padding-top: 30px;
    color: rgb(177, 177, 177);
}
.more-parnet
{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 0 0 0;
}

.more-img{
    height: 200px;
}
.more-child{
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 8px 8px 0 8px;
}

.more-child h1
{
    font-size: large;
    padding: 10px 0 15px 0;
    width: 356px;
    line-height: 25px;
}
.Moreuser-logo
{
    height: 70px;
}
.Moreuser-name
{
    position: relative;
    top: 15px;
    line-height: 30px;
}
.Moreuser-name small
{
    color: rgb(168, 168, 168);
}

/* responsive */

@media only screen and (orientation:portrait) and (max-width:768px)
{
    .newpage-navbar{
        padding: 3% 2%;
        justify-content: space-between;
        height: 4.6rem;
    }
    .logo{
        width: 30%;
        cursor: none;
    }
    .logo p
    {
        transform: rotate(270deg);
        font-size: 115%;
        position: relative;
        right: 39px;
        top: 22px;
        height: 0;
    }
    .logo h1
    {
        position: block;
        padding-top: 1%;
        left: 1.4rem;
        font-size: 215%;
    }
    .btn{
        border: 2px solid #03A87C;
        padding: 2% 2% 5% 2%;
        margin-top: 0.3rem;
        height: 2.2rem;
        cursor: none;
    }
    .btn p
    {
        font-size: 88%;
        font-weight: bold;
    }
    
    /* page content */
    
    .newpage-parent
    {
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .newpage-child{
        width: 100%;
        padding: 4%;
    }
    .newpage-header
    {
        font-size: 60%;
        width: 100%;
        padding-bottom: 7%;
    }
    
    .userinfo
    {
        gap: 5%;
        padding-bottom: 1rem;
    }
    .user-logo
    {
        height: 100%;
        width: 25%;
    }
    .user-name
    {
        top: 1rem;
        height: fit-content;
        line-height: 2rem;
    }
    .page-img
    {
        width:100%;
        padding-bottom: 28px;
    }
    .page-desc
    {
        line-height: 35px;
        font-size:100%;
    }
    .page-sl
    {
        gap: 1rem;
        position: absolute;
        top: 12.5rem;
        left: 85%;
    }
    .page-sl img
    {
        height: 1.5rem;
    }
    
    .more-cont
    {
        width: 100%;
        padding: 3% 2%;
    }
    .more-cont h2
    {
        padding: 3%;
    }
    .high
    {
        padding-top: 30px;
    }
    .more-parnet
    {
        flex-direction: column;
        gap: 1rem;
        padding: 4% 0;
    }
    
    .more-img{
        height: 100%;
        width: 100%;
    }
    .more-child{
        border-radius: 10px;
        padding: 2% 2%;
    }
    .more-child h1
    {
        font-size: 100%;
        padding: 3% 2.5%;
        width: 100%;
        line-height: 25px;
    }
    .Moreuser-logo
    {
        height: 4.2rem;
        margin:2% 0 0 2%;
    }
    .Moreuser-name
    {
        position: relative;
        top: 0.8rem;
        line-height: 30px;
    }
}

/* ipad */


@media only screen and (orientation:portrait) and (min-width:768px)
{
    .newpage-navbar{
        padding: 3% 2%;
        justify-content: space-between;
        height: 7rem;
    }
    .logo{
        width: 1.5rem;
        cursor: none;
    }
    .logo p
    {
        transform: rotate(270deg);
        font-size: 2.4rem;
        top: 3.3rem;
        left: 0.2rem;
        height: 5.8%;
    }
    .logo h1
    {
        position: block;
        padding-top: 0;
        top: -0.8rem;
        left: 3.2rem;
        margin: 0;
        font-size: 4.3rem;
    }
    .btn{
        border: 2px solid #03A87C;
        padding: 2% 2% 2% 2%;
        height: 3.7rem;
        margin-top: 0rem;
        cursor: none;
    }
    .btn p
    {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    /* page content */
    
    .newpage-parent
    {
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .newpage-child{
        width: 100%;
        padding: 4%;
    }
    .newpage-header
    {
        font-size: 99%;
        width: 100%;
        padding-bottom: 7%;
    }
    .userinfo
    {
        gap: 5%;
        padding-bottom: 1rem;
    }
    .user-logo
    {
        height: 100%;
        width: 18%;
    }
    .user-name
    {
        top: 2.4rem;
        font-size: 1.5rem;
        height: fit-content;
        line-height: 2.5rem;
    }
    .page-img
    {
        width:100%;
        padding-bottom: 28px;
    }
    .page-desc
    {
        line-height: 35px;
        font-size:140%;
    }
    .page-sl
    {
        gap: 1rem;
        position: absolute;
        top: 19rem;
        left: 85%;
    }
    .page-sl img
    {
        height: 2.5rem;
    }
    
    .more-cont
    {
        width: 100%;
        padding: 3% 2%;
    }
    .more-cont h2
    {
        padding: 3% 0 3% 1%;
        font-size: 2.2rem;
    }
    .high
    {
        padding-top: 30px;
        font-size: 1.5rem;
    }
    .more-parnet
    {
        flex-direction: column;
        gap: 1rem;
        padding: 4% 0;
    }
    
    .more-img{
        height: 100%;
        width: 100%;
    }
    .more-child{
        border-radius: 10px;
        padding: 2% 2%;
    }
    .more-child h1
    {
        font-size: 180%;
        padding: 3% 2.5%;
        width: 100%;
        line-height: 2.5rem;
    }
    .Moreuser-logo
    {
        height:5rem;
        margin:2% 0 0 2%;
    }
    .Moreuser-name
    {
        font-size: 1.3rem;
        position: relative;
        top: 2rem;
        line-height: 30px;
    }
}

/* big screen */

@media only screen and (orientation:landscape) and (min-width:1024px) and (max-width:1280px)
{
    .newpage-navbar{
        justify-content: space-between;
        height: 7.8rem;
    }
    .logo{
        width: 3rem;
        cursor: none;
    }
    .logo p
    {
        transform: rotate(270deg);
        font-size: 2.8rem;
        position: block;
        left: 0rem;
        top: 3rem;
        padding:0;
        height: 14.8%;
    }
    .logo h1
    {
        position: block;
        padding-top: 0;
        margin: 0;
        left: 2.5rem;
        font-size: 5rem;
    }
    .btn{
        border: 3px solid #03A87C;
        padding: 0.8rem;
        height: 4rem;
        margin-top: 0.8rem;
        cursor: none;
    }
    .btn p
    {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    /* page content */
    
    .newpage-parent
    {
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .newpage-child{
        width: 100%;
        padding: 4%;
    }
    .newpage-header
    {
        font-size: 99%;
        width: 100%;
        padding-bottom: 7%;
    }
    .userinfo
    {
        gap: 5%;
        padding-bottom: 1rem;
    }
    .user-logo
    {
        height: 100%;
        width: 18%;
    }
    .user-name
    {
        top: 2.4rem;
        font-size: 1.5rem;
        height: fit-content;
        line-height: 2.5rem;
    }
    .page-img
    {
        width:100%;
        padding-bottom: 28px;
    }
    .page-desc
    {
        line-height: 35px;
        font-size:140%;
    }
    .page-sl
    {
        gap: 1rem;
        position: absolute;
        top: 20rem;
        left: 85%;
    }
    .page-sl img
    {
        height: 2.5rem;
    }
    
    .more-cont
    {
        width: 100%;
        padding: 3% 2%;
    }
    .more-cont h2
    {
        padding: 3% 0 3% 1%;
        font-size: 2.2rem;
    }
    .high
    {
        padding-top: 30px;
        font-size: 1.5rem;
    }
    .more-parnet
    {
        flex-direction: column;
        gap: 1rem;
        padding: 4% 0;
    }
    
    .more-img{
        height: 100%;
        width: 100%;
    }
    .more-child{
        border-radius: 10px;
        padding: 2% 2%;
    }
    .more-child h1
    {
        font-size: 180%;
        padding: 3% 2.5%;
        width: 100%;
        line-height: 2.5rem;
    }
    .Moreuser-logo
    {
        height:5rem;
        margin:2% 0 0 2%;
    }
    .Moreuser-name
    {
        font-size: 1.3rem;
        position: relative;
        top: 2rem;
        line-height: 30px;
    }
}