*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.Parent-container-comp{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    grid-template-rows: 0.6fr 1fr;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
}


/* Content section */


.child1
{
    grid-area: 1/1/3/2;
    
}
.headcategory
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 4px solid rgba(255, 166, 0, 0.708);
    height: 45px;
    width: 80px;
    left: 230px;
    margin: 15px 0;
}

/* ui page */
.Page-content
{
    display: flex;
    height: 15rem;
    width: 48rem;
    padding: 30px 10px;
    background-image: linear-gradient(to left top, #7587a2, #8d96ab, #a3a6b5, #b6b6be, #c8c8c8);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 12px;
}

.img
{
    width: 35rem;
    height: 11rem;  
}
.text
{
    margin-left: 10px;
}
.heading
{
    font-size: 18px;
    height: 70px;
    padding-top: 10px;
}
.desc
{
    height: 75px;
    padding-top: 5px;
}

/* load more */
.load
{
    border: none;
    background: none;
    font-size: larger;
    font-weight: bolder;
    width: 11rem;
    height: 3rem;
}


/* top post */

.child2
{
    grid-area: 1/2/2/3;
    height: 53rem;
}

.headtop-post
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 4px solid rgba(255, 166, 0, 0.708);
    height: 45px;
    width: 150px;
    right: 280px;
    margin: 15px 0;
}
.toppost{
    display: flex;
    height:15%;
    width: 25rem;
    margin-bottom: 12px;
    background-image: linear-gradient(to left top, #7587a2, #8d96ab, #a3a6b5, #b6b6be, #c8c8c8);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.topimg
{
    height: 6.5rem;
    width: 101px;
}
.top-text
{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.top-head{
    font-weight: bold;
    font-size: 15px;
    padding-top: 0.5rem;
    height: 5rem;
}
/* top post 1 */

.toppost-1{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 25rem;
    margin-bottom: 12px;
    background-image: linear-gradient(to left top, #7587a2, #8d96ab, #a3a6b5, #b6b6be, #c8c8c8);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.topimg-1
{
    height: 13rem;
    width: 22rem;
    margin-left: 14px;
}
.top-text-1
{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}
.top-head-1{
    font-weight: bold;
    font-size: 18px;
    padding-top: 0.8rem;
    height: 4.5rem;
}
.top-text-1 span{
    font-size: 1rem;
}

/* advertisement */
.child3
{
    grid-area: 2/2/3/3;
    width: 25rem;
    height: 110vh;
    padding-left: 10px;
}

/* responsive mobile */

@media only screen and (max-width: 768px)
{
    .Parent-container-comp{
        grid-template-columns: auto;
        grid-template-rows: auto auto 43rem;
        cursor: none;
    }
    .child1
    {
        grid-area: 1/1/2/2;
        margin-bottom: 5%;
    }
    .child2
    {
        grid-area: 3/1/4/2;
        width: 100%;
        height: 45rem;
    }
    .child3
    {
        grid-area: 2/1/3/2;
        width: 97%;
        height: 100%;
        padding-left: 0px;
        margin: 0 auto;
    }
    
    /* page content */
    
    .headcategory
    {
        border-bottom: 3px solid rgba(255, 166, 0, 0.708);
        height: 35px;
        width: 80px;
        left: 230px;
        margin: 2px 0 20px 8px;
        font-size: 28px;
    }
    .Page-content
    {
        height: 7rem;
        width: 97%;
        padding: 2% 2%;
        border-radius: 10px;
        margin: 0 auto 9px auto;
    }

    .img
    {
        width: 36%;
        height: 100%;  
    }
    .text
    {
        margin-left: 6px;
    }
    .heading
    {
        font-size: 67%;
        height: 48%;
        padding-top: 1%;
    }
    .desc
    {
        height: 34%;
        width: 100%;
        padding-top: 0;
        font-size:58%;
    }
    .text span
    {
        font-size: 50%;
    }
    .load
    {
        font-size: 95%;
        width: 40%;
        height: 0;
    }
    
    /* top post */

    .headtop-post
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 3px solid rgba(255, 166, 0, 0.708);
        height: 5%;
        width: 37%;
        position: block;
        margin: 3% 0 4% 4%;
        font-size: xx-large;
    }
    .toppost{
        height: 6rem;
        width: 95%;
        padding: 3% 2%;
        border-radius: 10px;
        margin: 0 auto 10px auto;
    }
    .topimg
    {
        height: 100%;
        width: 35%;
    }
    .top-head{
        font-size: 80%;
        height: 79%;
        width: 100%;
        padding-top: 0.2rem;
    }
    .top-text span{
        font-size: 65%;
    }

    /* top 1 */
    .toppost-1{
        height: 40%;
        width: 95%;
        padding: 3% 2%;
        margin: 0 auto 10px auto;
    }
    .topimg-1
    {
        height: 70%;
        width: 98%;
        margin: 0 auto;
    }
    .top-text-1
    {
        margin: 0 auto;
        width: 97%;
        height: 30%;
    }
    .top-head-1{
        padding: 4% 0 0 0;
        font-size: 98%;
        height: 100%;
    }
    .top-text-1 span{
        font-size: 80%;
    }
}

  /* small scrren 280 max */
  @media only screen and (max-width: 280px)
  {
      
      /* page content */
      
      .Page-content
      {
          height: 6.5rem;
      }
      .heading
      {
          font-size: 60%;
      }
      .desc
      {
          height: 34%;
          width: 100%;
          padding-top: 0;
          font-size:58%;
      }
      .text span
      {
          font-size: 50%;
      }
      .load
      {
          font-size: 95%;
          width: 40%;
          height: 0;
      }
  
      /* top post */
  
      .headtop-post
      {
          width: 49%;
          margin: 3% 0 4% 4%;
      }
      .toppost{
          height: 6rem;
          width: 95%;
          padding: 3% 2%;
          margin: 0 auto 10px auto;
      }
      .topimg
      {
          height: 100%;
          width: 35%;
      }
      .top-head{
          font-size: 80%;
          height: 79%;
          width: 100%;
          padding-top: 0.2rem;
      }
      .top-text span{
          font-size: 65%;
      }
  
      /* top 1 */
      .toppost-1{
          height: 40%;
          width: 95%;
          padding: 3% 2%;
          margin: 0 auto 10px auto;
      }
      .topimg-1
      {
          height: 70%;
          width: 98%;
          margin: 0 auto;
      }
      .top-text-1
      {
          margin: 0 auto;
          width: 97%;
          height: 30%;
      }
      .top-head-1{
          padding: 4% 0 0 0;
          font-size: 98%;
          height: 100%;
      }
      .top-text-1 span{
          font-size: 80%;
      }
  }

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .Parent-container-comp{
        grid-template-columns: 55% 40%;
        grid-template-rows: auto auto ;
        cursor: none;
    }
    .child1
    {
        grid-area: 1/1/3/2;
        margin:4% 0 3% 0;
    }
    .child2
    {
        grid-area: 1/2/2/3;
        height:85%;
        width: 100%;
    }
    .child3
    {
        grid-area: 2/2/3/3;
        width: 100%;
        height: 87%;
        padding-left: 0px;
        margin:0;
    }

    /* page content */
    
    .headcategory
    {
        border-bottom: 3px solid rgba(255, 166, 0, 0.708);
        height: 35px;
        width: 80px;
        margin: 2px 0 20px 8px;
        font-size: 28px;
    }
    .Page-content
    {
        height: 10rem;
        width: 100%;
        padding: 12px 6px;
        border-radius: 10px;
        margin: 0 0 20px 0;
    }

    .img
    {
        width: 29%;
        height: 100%;  
    }
    .text
    {
        margin-left: 6px;
    }
    .heading
    {
        font-size: 87%;
        height: 47%;
        padding-top: 7px;
    }
    .desc
    {
        height: 38%;
        padding-top: 2px;
        font-size: 75%;
    }
    .text span{
        font-size: 65%;
    }
    .load
    {
        font-size: 23px;
        width: 11rem;
        height: 0rem;
    }

    /* top post 1 */

    .toppost-1{
        display: flex;
        flex-direction: column;
        height: 43%;
        width: 100%;
        margin-bottom: 12px;
        padding: 4% 0 0 0;
    }
    .topimg-1
    {
        height: 60%;
        width: 90%;
        margin-left: 14px;
    }
    .top-text-1
    {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
    }
    .top-head-1{
        font-weight: bold;
        font-size: 100%;
        padding-top: 0;
        height: 100%;
        width: 95%;
        margin: 4% 0 3% 0;
    }
    .top-text-1 span{
        font-size: 1rem;
    }

    /* top post */

    .headtop-post
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 4px solid rgba(255, 166, 0, 0.708);
        height: 35px;
        width: 101px;
        margin: 14px 0;
        font-size: 25px;
    }
    .toppost{
        height: 18%;
        width: 100%;
        padding: 3.9% 2%;
        border-radius: 10px;
        margin: 0 0 10px 0;
    }
    .topimg
    {
        height: 100%;
        width: 38%;
    }
    .top-head{
        font-size: 80%;
        padding-top: 0.2rem;
        height: 79%;
    }
    .top-text span{
        font-size: 70%;
    }
}

/* big screen */

@media only screen and (orientation:landscape) and (min-width: 1024px) and (max-width: 1280px) 
{
    .Parent-container-comp{
        grid-template-columns: 58% 36%;
        grid-template-rows: auto auto ;
        cursor: none;
    }
    .child1
    {
        grid-area: 1/1/3/2;
        margin-bottom: 25%;
    }
    .child2
    {
        grid-area: 1/2/2/3;
        height:85%;
        width: 100%;
    }
    .child3
    {
        grid-area: 2/2/3/3;
        width: 100%;
        height: 85%;
        padding-left: 0px;
        margin: 0;
    }

    /* page content */
    
    .headcategory
    {
        border-bottom: 3px solid rgba(255, 166, 0, 0.708);
        height: 35px;
        width: 80px;
        margin: 2px 0 20px 8px;
        font-size: 28px;
    }
    .Page-content
    {
        height: 13%;
        width: 100%;
        padding: 12px 6px;
        border-radius: 10px;
        margin: 0 0 20px 0;
    }

    .img
    {
        width: 29%;
        height: 100%;  
    }
    .text
    {
        margin-left: 6px;
    }
    .heading
    {
        font-size: 87%;
        height: 47%;
        padding-top: 7px;
    }
    .desc
    {
        height: 38%;
        padding-top: 2px;
        font-size: 75%;
    }
    .text span{
        font-size: 65%;
    }
    .load
    {
        font-size: 23px;
        width: 11rem;
        height: 4rem;
    }

    /* top post 1 */

    .toppost-1{
        display: flex;
        flex-direction: column;
        height: 43%;
        width: 100%;
        margin-bottom: 12px;
        padding: 12px 0 0 0;
    }
    .topimg-1
    {
        height: 60%;
        width: 90%;
        margin-left: 14px;
    }
    .top-text-1
    {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
    }
    .top-head-1{
        font-weight: bold;
        font-size: 100%;
        padding-top: 0;
        height: 100%;
        width: 95%;
        margin: 4% 0 3% 0;
    }
    .top-text-1 span{
        font-size: 1rem;
    }

    /* top post */

    .headtop-post
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 4px solid rgba(255, 166, 0, 0.708);
        height: 35px;
        width: 101px;
        margin: 14px 0;
        font-size: 25px;
    }
    .toppost{
        height: 18%;
        width: 100%;
        padding: 3.9% 2%;
        border-radius: 10px;
        margin: 0 0 10px 0;
    }
    .topimg
    {
        height: 100%;
        width: 38%;
    }
    .top-head{
        font-size: 80%;
        padding-top: 0.2rem;
        height: 79%;
    }
    .top-text span{
        font-size: 70%;
    }
}

